/* general rules */
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.none{
    display: none;
}

.d_flex{
    display: flex;
}

.align-end{
    align-items: end;
}

.m_2{
    margin: 10px;
}
/* scrolling arrow */
#scroll-to-top {
    position: fixed;
    z-index: 999;
    bottom: 20px;
    right: 20px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}
  
#scroll-to-top.visible {
    opacity: 1;
    visibility: visible;
}

.fa-arrow-up{
    padding: 20px;
    border-radius: 50%;
    border: 2px solid rgb(219, 208, 179);
    color: rgb(219, 208, 179);
    font-size: 20px;
}
/* end scrolling arrow */

.myContainer{
    background: rgb(11,40,124);
    background: -moz-linear-gradient(20deg, rgba(11,40,124,1) 5%, rgba(204,151,99,1) 100%);
    background: -webkit-linear-gradient(20deg, rgba(11,40,124,1) 5%, rgba(204,151,99,1) 100%);
    background: linear-gradient(20deg, rgba(11,40,124,1) 5%, rgba(204,151,99,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0b287c",endColorstr="#cc9763",GradientType=1);
    position: relative;
    max-width: 100vw;
    height: 100vh;
}
/* header */

.myNavbar{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 20px;

}

.myNavbar p{
    color: rgb(219, 208, 179);
    font-family: 'Roboto', sans-serif;
    font-family: 'Source Code Pro', monospace;
}

.myNavbar a{
    padding: 10px;
    margin-right: 30px;
    color: rgb(219, 208, 179);
    text-decoration: none;
    font-size: 20px;
    border: 1px solid white;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-family: 'Source Code Pro', monospace;
    font-size: 16px;
}

/* .links i{
    color: rgb(219, 208, 179);
    display: none;
    font-size: 30px;
} */

.links i{
    display: none;
    color: rgb(219, 208, 179);
    font-size: 30px;
}


.myNavbar a:hover{
    padding: 10px;
    margin-right: 30px;
    text-decoration: none;
    font-size: 20px;
    border: 1px solid white;
    background-color: rgba(30, 40, 93, 0.3);
    font-size: 16px;
    
}

/* main first section */
.presentation{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

.titol{
    display: flex;
    align-items: center;
}

.titol i{
    color: white;
    font-size: 30px;
    margin: 10px;
}

.titol i:hover{
    cursor: pointer;
}

.imgTitol{
    margin-left: 20px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-image: url(./img/img-portfolio-2.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid rgb(219, 208, 179);
}

#buttonDown i{
    margin: 0px;
}

.aboutSpan{
    margin-top: 30px;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    font-family: 'Source Code Pro', monospace;
}


.description, .aboutMe, .skills{
    margin-left: 20px;
    color: rgb(220 220 220);
    width: 380px;
    flex-direction: column;
    align-items: center;
}

.description P, .aboutMe p, .skills p{
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 9px 40px;
    background-color: rgb(213 151 36 / 55%);;
    border: none;
    border-radius: 50px;
    font-family: 'Roboto', sans-serif;
    font-family: 'Source Code Pro', monospace;
}

.info{
    max-width: 325px;
    margin-top: 10px;
    border: 1px solid rgb(219, 208, 179);
    padding: 10px;
    border-radius: 10px;
}

.info span{
    font-family: 'Roboto', sans-serif;
    font-family: 'Source Code Pro', monospace;
}

.logoSkills{
    flex-wrap: wrap;
}

.logoSkills img{
    width: 48px;
    margin: 10px;
}

.smartphoneMenu{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    color: black;
    position: absolute;
    right: 0px;
    top: 0px;
}

.smartphoneMenu a{
    text-decoration: none;
    padding: 10px;
    color: black;
}

.smartphoneMenu a:hover{
    text-decoration: none;
    padding: 10px;
    color: black;
    background-color: rgb(235, 233, 233);
}

.overlay{
    display: none;
    width: 100vw;
    height: 100vh;
    z-index: -2;
}

.offcanvas-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.offcanvas-body a{
    margin: 30px;
    text-decoration: none;
    color: black;
    font-size: 25px;
}
/* main second section */

#project{
    max-width: 100vw;
    position: relative;
}

#project h1{
    padding: 50px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-family: 'Source Code Pro', monospace;
    font-size: 30px;
    color: rgb(219, 208, 179);
}

swiper-container {
  width: 70%;
  height: 70%;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* terza parte main my story */

.storyContainer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.paragraphContainer{
    width: calc(100% / 2 - 40px);
    margin: 20px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 0px 20px 20px 20px;
}

/* carosello personalizzato */
.projectsContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
}
.projectsCarusel{
    position: relative;
    width: 800px;
    margin-bottom: 30px;
    
}
.projectsCarusel img{
    border-radius: 20px;
    width: 100%;
}

.projectsInfo{
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    width: 800px;
    height: 150px;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    font-family: 'Source Code Pro', monospace;
}

.projectsInfo h4{
    margin: 10px;

}

.leftButton{
    position: absolute;
    left: 10px;
    top: 50%;
    font-size: 30px;
    color: #5f6cdf;
    cursor: pointer;
}

.rightButton{
    position: absolute;
    right: 10px;
    top: 50%;
    font-size: 30px;
    color: #5f6cdf;
    cursor: pointer;
}

/* footer */

.bodyFooter{
    width: 100%;
    height: 300px;
    background: #1b2261;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footerIntro p{
    color:rgb(233, 186, 56);
    font-size: 25px;
    margin-top: 30px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-family: 'Source Code Pro', monospace;
}

.footerSocial i{
    font-size: 20px;
    color:rgb(219, 208, 179);
    padding: 20px;
    border-radius: 50%;
    border: 1px solid white;
    margin: 10px;
    transition: background-color 0.4s ease;

}

.footerSocial i:hover{
    font-size: 20px;
    color:rgb(219, 208, 179);
    padding: 20px;
    border-radius: 50%;
    border: 1px solid white;
    margin: 10px;
    background-color: rgba(252, 127, 10, 0.8);
    cursor: pointer;
    /* animation: bounce 1.5s; */
}

.footerWhitLove{
    color:rgb(219, 208, 179);
    font-size: 15px;
    margin-top: 40px;
    font-family: 'Roboto', sans-serif;
    font-family: 'Source Code Pro', monospace;
}

/* tablet mediaquery */

@media  screen and (max-width:1000px){

    .container{
        width: 100%;
    }

    .presentation{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        margin-top: 50px;
        height: 100vh;
        position: relative;
    }
   

    .titol{
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
    }

    .projectsCarusel{
        position: relative;
        width: 80%;
        margin-bottom: 30px;
        
    }

    .projectsInfo{
        text-align: center;
        padding: 10px;
        border-radius: 10px;
        width: 80%;
        height: 150px;
        margin-bottom: 100px;
        font-family: 'Roboto', sans-serif;
        font-family: 'Source Code Pro', monospace;
    }

    #project {
        width: 100vw;
        position: relative;
    }

    .projectsContainer {
        display: flex;
        justify-content: center;
        /* align-content: space-between; */
        align-items: center;
        flex-direction: column;
    }

    #project h1 {
        /* padding: 50px; */
        margin-top: 20px;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-family: 'Source Code Pro', monospace;
        font-size: 30px;
        color: rgb(219, 208, 179);
    }

    .links a{
        display: none;
    }

    .links i{
        display: flex;
    }

    .navbar {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 20px;
    }


}

/* smartphone mediaquery */

@media  screen and (max-width:500px){

    .container{
        width: 100%;
    }

    .titol{
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
    }

    .projectsCarusel{
        position: relative;
        width: 80%;
        margin-bottom: 30px;
        
    }

    #project {
        width: 100vw;
        position: relative;
    }

    .projectsContainer {
        display: flex;
        justify-content: center;
        /* align-content: space-between; */
        align-items: center;
        flex-direction: column;
        margin-bottom: 50px;
    }

    #project h1 {
        /* padding: 50px; */
        margin-top: 20px;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-family: 'Source Code Pro', monospace;
        font-size: 30px;
        color: rgb(219, 208, 179);
    }

    .links a{
        display: none;
    }

    .footerIntro p {
        color: rgb(233, 186, 56);
        font-size: 20px;
        margin-top: 30px;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-family: 'Source Code Pro', monospace;
    }

    .imgTitol{
        width: 180px;
        height: 180px;
    }
}